<form id="submitBurger">
    <div class="form-group">
        <input type="text" Input Required placeholder="Create Your Burger" class="form-control" id="Burger_name">
    </div>

    <button class="btn btn-default">Add Burger</button>
</form>