<form>
    <div class="form-group">
        <input type="text" Input Required placeholder="Add a burger " class="form-control" id="Burger_name">
    </div>

    <button id="submitBurger" class="btn btn-default">Add Burger</button>
</form>