.DaFavs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.myFavB {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myFavB .getBurger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #440b28;
    padding: 10px;
    height: 100px;
    width: 500px;
    border-radius: 4px;
    margin: 20px;
}

.myFavB .getBurger img {
    height: 70px;
    border-radius: 4px;
}

.myFavB .getBurger p {
    font-size: 24px;
}

/* Ratings */
.fa-star {
    color: rgb(228, 216, 216);
    border: none;
    padding: none;
}

.fa-star:hover {
    color: gold;
}