.ratingsEC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burgersRating {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.burgersRating .getBurger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #440b28;
    padding: 10px;
    height: 100px;
    width: 500px;
    border-radius: 4px;
    margin: 20px;
}

.burgersRating .getBurger img {
    height: 70px;
    border-radius: 4px;
}

.burgersRating .getBurger p {
    font-size: 24px;
}

.rating {
    color: rgb(228, 216, 216);
    border: none;
    padding: none;
}

.rating:hover {
    color: gold;
}
