{{ header }}

<div class="BT">
    <div class="container">
        <h1 class="heading">Welcome To Big Time</h1>
    </div>

    {{> form }}
    
    <div class="Burgers">
        {{#each burgers}}
            {{> getBurger }}
        {{/each}}
    </div>
</div>