{{ header }}

<div class="BT">
    <h1>Welcome To Big Time</h1>

    {{ addBurger }}
    
    <div class="Burgers">
        {{#each result}}
            {{ displayBurger }}
        {{/each}}
    </div>
</div>