{{ header }}

<div class="BT">
    <div class="container"></div>
    <h1>Welcome To Big Time</h1>

    {{> form }}
    
    <div class="Burgers">
        {{#each burgers}}
            {{> getBurger }}
        {{/each}}
    </div>
</div>